.nav-container {
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #64eeb4;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-route {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: inherit;
    margin-left: 20px;
}

.signup {
    display: inline-block;
    font-family: inherit;
    text-decoration: none;
    padding: 5px 20px;
    color: white;
    border: none;
    background-color: rgb(255, 0, 76);
    border-radius: 50px;
    cursor: pointer;
    margin-left: 30px;
}

.nav_right {
    display: flex;
    align-items: center;
}

.nav-cart {
    font-size: 25px;
    margin-right: 50px;
    position: relative;
}